/* #fafafa; */
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #575b61;
}

ul {
  margin: 0;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* #ffffff */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.profile-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .profile-section {
    background: #ffffff;
    padding: 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  /* white-space: pre-line; */
  padding-bottom: 10px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 200px;
  width: 200px;
  margin-right: 80px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
  .account-img {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
}

.name-margin {
  padding-top: 2vh;
  padding-left: 10em;
}

@media only screen and (max-width: 1199px) {
  .name-margin {
    padding-top: 0px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .name-margin {
    padding-top: 0px;
    padding-left: 0px;
  }
}

.account-heading {
  font-size: 2.5rem;
}

.profile-margin {
  margin-top: 1em;
}

/* File upload */
.img-btn > a,
br,
input {
  display: none;
}

.img-btn {
  margin-left: 3.5em;
  width: 70px;
  height: 38px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .img-btn {
    margin-left: 1.5em;
    width: 70px;
    height: 38px;
    cursor: pointer;
  }
}
/* File upload */

.btn-font {
  font-weight: bold;
}

.article {
  padding-left: 10px;
  padding-right: 10px;
}
