{% extends 'blog/base.html' %}
{% block content %}

<div class="container">

    {% for post in post_list  %}

    <div class="post">
        <h1>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h1>
        <div class="date">
            <p>Published on: {{ post.published_date }}</p>
        </div>

        {% if post.approved_comments.count == 0 %}
        <p>No Comments!</p>
        {% else %}
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        {% endif %}

    </div>

    {% endfor %}

</div>

{% endblock %}