.techfont {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bigbrand {
  font-size: 1.5em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.postdate {
  text-align: center;
}

.posttitle {
  font-family: "Comic Neue", cursive;
  font-size: 3em;
  text-align: center;
  margin: 1em;
}

.postcontent {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  margin: 1em;
  border: 1px;
}

.greet {
  font-size: 15px;
  margin: 2em;
  border-top: 5em;
}

.form-margin {
  margin: 0.4em;
}

.comment-border {
  border: 1px;
  border-style: dashed;
  margin: 1em;
}

.btn-margin {
  margin-bottom: 2em;
}

.post {
  margin-bottom: 2em;
}

.textarea {
  min-height: 300px;
}

/* SideBar CSS */

/* SideBar CSS */
